#### Naming Conventions
can start with letter or _ but not with number \
can be case sensitive \
can contain letters, numbers & underscore

#### valid variable names

In [10]:
first_name: str = 'John'
last_name12: str = 'Doe'

#### Invalid variable names

In [11]:
2age: int = 30
first-name: str = 'Jack'        # - is not a valid symbol for variable declaration
@name: str = 'Phil'

SyntaxError: invalid decimal literal (2568157717.py, line 1)

In [19]:
#### case sensitivity
name: str = 'John'
Name: str = 'John'

name == Name        # prints True as values are same

True

#### Type checking and conversion
print type of variable \
convert 1 type to another

In [22]:
height: float = 5.5
is_employee: bool = True

type(height)

float

In [23]:
type(is_employee)

bool

In [28]:
age: int = 25
print(type(age))

age_str: str = str(age)
print(age_str)
print(type(age_str))

height_str: str = str(height)
print(height_str)

is_employee: str = str(is_employee)
print(is_employee)
print(type(is_employee))

<class 'int'>
25
<class 'str'>
5.5
True
<class 'str'>

In [34]:
age_str: str = '25'
age: int = int(age_str)

print(type(age))

# convert float to int
height_int: int = int(height)
print(height_int)
print(type(height_int))

<class 'int'>
5
<class 'int'>

#### Input function
by default takes as a 'string' unless typecasted \
\
ex: written a calculator application

In [40]:
new_name: str = input('what is your name?')
print(new_name)

# another_age: int = input('enter your age')        # won't work if NOT typecasted
another_age: int = int(input('enter your age'))     # typecasted to int
print(another_age)

mike
45

#### Simple Calculator application

In [45]:
num1: float = float(input('enter the 1st num'))
num2: float = float(input('enter the 2nd num'))

sum: float = num1 + num2
sub: float = num1 - num2
mul: float = num1 * num2
div: float = num1 / num2

print('Sum of 2 nos ', sum)
print('Subtraction of 2 nos ', sub)
print('Multiplication of 2 nos ', round(mul))
print('Division of 2 nos ', div)

Sum of 2 nos  15.4
Subtraction of 2 nos  -2.4000000000000004
Multiplication of 2 nos  58
Division of 2 nos  0.7303370786516854