#### Common functions of set:

- .add()

- .remove()

- .discard()

- .pop()

- .clear()

- **in** keyword --> print(3 in another_set)

- .union()

- .intersection()

- .update() and .intersection_update()

- .difference() and  .difference_update()

- .symmetric_difference()

- .issuperset() and .issubset()

#### create a set

In [185]:
# initialize like below - 1
my_set: set[int] = {99, 66, 11, 22, 44}
type(my_set)

set

In [186]:
print(my_set)
print(type(my_set))

{66, 99, 22, 11, 44}
<class 'set'>

In [187]:
# initialize like below - 2
my_set: set[int] = set([0, 9, 0, 17, 9, 84])
print(my_set)

{0, 9, 84, 17}

#### Basic Set Operations

- Adding and Removing Elements

- Do not throw error if element not present in set --> use .discard() method

In [188]:
my_set.add(20)
print(my_set)

my_set.add(20)
print(my_set)

my_set.remove(9)
print(my_set)

{0, 9, 17, 84, 20}
{0, 9, 17, 84, 20}
{0, 17, 84, 20}

In [189]:
my_set.discard(9)
print(my_set)

my_set.discard(84)
print(my_set)

{0, 17, 84, 20}
{0, 17, 20}

#### use .pop() method to remove 1st element

In [190]:
my_set.pop()
print(my_set)

{17, 20}

#### use .clear() to remove all elements from the set

In [191]:
my_set.clear()
print(my_set)

set()

#### Set Membership Test --> check if element is a member or present in the set

In [192]:
another_set: set[int] = {11, 22, 33, 44, 55}
print(3 in another_set)
print(33 in another_set)

False
True

#### Mathematical Operations

- union & intersection

- difference & symmetric difference

In [193]:
setA: set[int] = {10, 20, 30, 40, 50}
setB: set[int] = {77, 25, 10, 99, 40}

union_set: set[int] = setA.union(setB)                  # .union() --> Creates and returns a new set with elements from both sets, without modifying the original sets.
intersection_set: set[int] = setA.intersection(setB)

print(union_set)
print(intersection_set)

# setA.update(setB)                 # .update() --> MODIFIES / OVERRIDES the original set by adding elements from another set (or iterable).
# print(setA)

setA.intersection_update(setB)      # UPDATES / OVERRIDES setA with the intersection i.e, common elements of setA and setB
print(setA)

{99, 40, 10, 77, 50, 20, 25, 30}
{40, 10}
{40, 10}

In [194]:
setC: set[int] = {5, 6, 7, 8, 9}
setD: set[int] = set([8, 9, 11, 12])

setE: set[int] = setC.difference(setD)      # .difference() --> Removes the common elements from the original set i.e, setE and returns the remaining (uncommon) elements as a new set.
print(setE)

setD.difference_update(setC)            # .difference_update() --> MODIFIES / OVERRIDES the original set by removing the common elements comparing with the other set
print(setD)

{5, 6, 7}
{11, 12}

In [195]:
# symmetric difference --> creates a new set combining the uncommon (unique) elements from the two sets

setC: set[int] = {1, 2, 3, 4, 5}
setD: set[int] = { 4, 5, 6, 7, 8}

sym_diff: set[int] = setC.symmetric_difference(setD)
print(sym_diff)

{1, 2, 3, 6, 7, 8}

#### Set Methods ****

In [196]:
setA: set[int] = set([100, 200, 300, 400, 500])
setB: set[int] = set([200, 300, 500])

print(setA.issuperset(setB))
print(setB.issubset(setB))

print(setA.issubset(setB))

True
True
False

#### remove duplicates from a list

In [197]:
num_list: list[int] = list([1, 2, 2, 3, 4, 5, 4, 7, 0])

# converted_set: set[int] = set(num_list)
# print(converted_set)

# converted_list: list[int] = list(converted_set)
# print(converted_list)

print(list(set(num_list)))

[0, 1, 2, 3, 4, 5, 7]

#### counting unique words in a sentence

In [203]:
sentence: str = 'The quick brown fox jumps over the lazy dog over the brown fence'
print(len(sentence))        # counts chars in the sentence

just_words: list[str] = sentence.lower().split()
print(just_words)
print(len(just_words),'\n')

unique_words: set[str] = set(just_words)         # converting the list to a set
print(unique_words)
print(len(unique_words))

64
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog', 'over', 'the', 'brown', 'fence']
13

{'over', 'the', 'quick', 'lazy', 'brown', 'dog', 'fence', 'fox', 'jumps'}
9